@import "./Etapas.css";

.principal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    height: 566px;
}

.secaoData{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ddd;
    box-shadow: 2px 2px 4px #dadada;
    border: 1px solid #CCC;
    border-radius: 10px;
    margin-bottom: 25px;
}

.formularioData{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dataHora{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: flex-start;
    margin-right: auto;
    margin-left: auto;
}

.Hora{
    margin-left: 15px;
}

.campoDataHora{
    display: flex;
    max-width: 200px;
    width: 190px;
    background-color: #ffffffc2;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 20px;
    padding: 4px;
}

.label{
    font-weight: bold;
    font-size: 14px;
}

.campo{
    background-color: #ffffffc2;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 20px;
    padding: 4px;
}

.labelEcampo{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.continuar{
    width: 500px;
    background-color: #5f5f5f;
    color: white;
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    width: 415px;
}

.continuar:hover{
    background-color: #3e3e3e;
}